.Accueil {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;

    .ancre-presentation {
        position: absolute;
        top: 90%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .Accueil{
        .ancre-presentation{
            top: 94%;
        }
    }
}

@media screen and (max-width: 767px) {
    .Accueil{
        .ancre-presentation{
            top: 90%;
        }
    }
}