.card {
    width: 500px;
    height: 425px;    
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25); 
}

.coverimg {
    height: 100%;
    background-size: cover;
    border-radius: 10px;
}