.cards-list-container {
    position: relative;

    #a-propos {
        position: absolute;
        bottom: 4%;
    }
}

.cards-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}