.form-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h4 {
        line-height: 60px;
        margin-bottom: 7px;
    }
}


form {
    display: flex;
    flex-direction: column;
    width: 50%;
    
     

    input {
        margin-bottom: 18px;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border: 0px;
        line-height: 30px;
        font-size: 12px;
        padding-left: 7%;
    }

    textarea {
        overflow-y: hidden;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border: 0px;
        line-height: 30px;
        font-size: 12px;
        padding-left: 7%;
        scrollbar-width: thin;
        scrollbar-color: #f1f1f1 white;
        resize: none;

        &.auto-expand {
            min-height: 30px;
            max-height: 3000px;
        }
}


}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    form {
        input{
            font-size: 10px;
            line-height: 20px;
        }
        textarea{
            font-size: 10px;
        }
    }
}


@media screen and (max-width: 767px) {
    .form-container{
        width: 100%;
        margin-top: 30px;
    }
    
    form {
        width: 70%;
        input{
            font-size: 10px;
            line-height: 20px;
        }
        textarea{
            font-size: 10px;
        }
    }
}