.navprincipale {
    display: flex;
    justify-content: center;
    background: rgba(255, 244, 232, 1) ;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    max-width: 1440px;
    position: fixed;
    top: 0px;
    z-index: 1;
}


.FlagFr{
    position: absolute;
    margin-left: 96%;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
    background-color: #4b270080;
    padding: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .navprincipale{
        justify-content: left;
    }

    .FlagFr{
        margin-top: 10px;
        margin-left: 94%;
    }

}

@media screen and (max-width: 767px) {
    .navprincipale{
        justify-content: left;
    }

    .FlagFr{
        margin-top: 15px;
        margin-left: 85%;
        img {
            width: 20px;
        }
    }

}