.mailres-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;

    h4 {
        margin-bottom: 28px;
    }

    .maillogo {
        margin-top: 10px;
    }

    .reslogo {
        margin-top: 126px;
    }
}