.mailres-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;

    h4 {
        margin-bottom: 28px;
    }

    .maillogo {
        margin-top: 10px;
    }

    .reslogo {
        margin-top: 126px;
        img{
            margin-right: 20px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .mailres-container{
        img{
            width: 80px;
        }

        .reslogo{
            margin-top: 80px;
            img{
                width: 48px;
                margin-right: 10px;
            }
        }
    }   
}

@media screen and (max-width: 767px) {
    .mailres-container{
        width: 100%;
        img{
            width: 70px;
        }

        .reslogo{
            margin-top: 80px;
            img{
                width: 40px;
                margin-right: 10px;
            }
        }
    }   
}