.mainlinks {
    display: flex;
    justify-content: center;
    margin-top: 5%;

    a{
        text-decoration: none;
        color: #4b2700;
    }

    .button-data {
        height: 100%;
        display: flex;
        align-items: center;
    }

}
