.ReactModal__Overlay{
    display: flex !important;
    align-items: center !important;
}

#modal-qwenta {
    width: 80%;
    margin: 3% auto;
    background-color: #BBC3CE !important;
    scrollbar-width: thin;
    text-shadow: 1px 1px 2px  black;
    border-radius: 25px !important;

    .modal-header{
        display: flex;
        
    
        #Montageqwenta {
            width: 60%;
            height: auto;
        }

        .qwenta-text {
            width: 35%;
            margin-left: 25px;
            padding-right: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2{
                text-align: center;
            }
        }

        .tech-container {
            display: flex;
            margin-top: 10px;
            width: 50%;
            justify-content: space-around;

            p {
              margin: 0;  
              text-align: center;
            }

            #wakeletmenu {
                height: 48px;
                
                img{
                    margin-top: 20px;
                    margin-bottom: 17px;
                    width: 48px;
                }              
            }
        }

        button {
            width: 24px;
            height: 18px;
            position: absolute;
            left: 96%;
            top: 2%;
            border: none;
            background-color: #BBC3CE;

            #close-icon {
                width: 100%;
                height: 100%;
            }
        }
    }

    .modal-body{
        display: flex;
        margin-top: 15px; 
        flex-direction: column;     
        align-items: center;

        h4{
            margin-top: 30px;
        }

        img{
            margin-top: 30px;
            width: 90%;
            border-radius: 5px;
            box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25); 
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #modal-qwenta{

        p{
            font-size: 12px;
        }

        .modal-header{
            .qwenta-text{
                width: 45%;
                margin-left: 10%;
                h2{
                    margin-bottom: 20px;
                }
            }
            .lienqwenta-container{
                button{
                    font-size: 14px;
                    width: 180px;
                    height: 25px;
                    border-radius: 10px;
                }
            }     
            .tech-container{
                img{
                    width: 32px;
                }
                #wakeletmenu{
                    height: 32px;
                    img{
                        margin-bottom: 5px;
                        width: 32px;
                    }
                }  
            }
        }

   

        .modal-body{
            margin-top: 20px;

            img{
                width: 75%;
            }

        }
    }
}

@media screen and (max-width: 767px) {
    #modal-qwenta{
        padding: 20px 0px !important;
        margin-top: 20px;
        inset: 40px 40px 10px !important;

        .addspace{
            margin-right: 10px;
        }

        p{
            font-size: 12px;
        }

        .modal-header{
            flex-direction: column-reverse;
            align-items: center;

            h3{
                font-size: 12px;
            }

            .qwenta-text{
                width: 80%;
                margin-left: 10%;
                text-align: center;
                align-items: center;
                h2{
                    margin-bottom: 20px;
                    font-size: 18px;
                }
            }

            #Montageqwenta{
                margin-top: 25px;
                width: 80%;
            }

            .lienqwenta-container{
                button{
                    font-size: 12px;
                    width: 160px;
                    height: 25px;
                    border-radius: 10px;
                }
            }     
            .tech-container{
                img{
                    width: 24px;
                }
                #wakeletmenu{
                    img{
                        margin-top: 10px;
                        margin-bottom: 9px;
                        width: 24px;
                    }
                }  
            }
            button{
                left: 83%;
                top: 8%;
                position: fixed;
            }
        }

   

        .modal-body{
            margin-top: 20px;
            flex-direction: column;

            h4{
                font-size: 14px;
            }

            img{
                width: 75%;
            }

        }
    }
}