.ReactModal__Overlay{
    display: flex !important;
    align-items: center !important;
}
#modal-kasa {
    width: 80%;
    margin: 3% auto;
    background-color: #BBC3CE !important;
    scrollbar-width: thin;
    text-shadow: 1px 1px 2px  black;
    border-radius: 25px !important;

    .modal-header{
        display: flex;
        align-items: center;

        #Montagekasa {
            width: 60%;
            height: 50%;
        }

        .kasa-text {
            width: 35%;
            margin-left: 25px;
            padding-right: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2{
                text-align: center;
            }
        }

        .tech-container {
            display: flex;
            margin-top: 10px;
            width: 60%;
            justify-content: space-around;

            p {
              margin: 0;  
              text-align: center;
            }

            #sasskasa img{
                width: 48px;

            }
        }

        .lienkasa-container{
            display: flex;
            justify-content: center;
            margin-top: 8%;

            #lienkasa {
                font-size: 18px;
                width: 230px;
                height: 35px;
                position: relative;
                left: 0%;            
                text-decoration: none;
                background-color: #FFF4E8;
                border-radius: 15px;
                border: 1px solid #ffe1c1;
                box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25); 
                transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;

                &:hover{
                    background-color: #ffe1c1;
                    transform: scale(1.10);
                    cursor: pointer;
                }
            }
        } 

        button {
            width: 24px;
            height: 18px;
            position: absolute;
            left: 96%;
            top: 2%;
            border: none;
            background-color: #BBC3CE;

            #close-icon {
                width: 100%;
                height: 100%;
            }
        }
    }

    .modal-body{
        display: flex;
        margin-top: 15px; 
        flex-direction: column;     
        align-items: center;

        h4{
            margin-top: 30px;
        }

        img{
            margin-top: 30px;
            width: 90%;
            border-radius: 5px;
            box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25); 
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #modal-kasa{

        p{
            font-size: 12px;
        }

        .modal-header{
            .kasa-text{
                width: 45%;
                margin-left: 10%;
                h2{
                    margin-bottom: 20px;
                }
            }

            .lienkasa-container{
                #lienkasa{
                    font-size: 14px;
                    width: 180px;
                    height: 25px;
                    border-radius: 10px;
                }
            }
            .tech-container{
                img{
                    width: 32px;
                }

                #sasskasa img{
                    width: 32px;
                }
            }
        }

        

        .modal-body{
            margin-top: 20px;

            img{
                width: 70%;
            }

        }
    }
}

@media screen and (max-width: 767px) {
    #modal-kasa{
        padding: 20px 0px !important;
        margin-top: 20px;
        inset: 40px 40px 10px !important;
        
        .addspace{
            margin-right: 10px;
        }

        p{
            font-size: 12px;
        }

        .modal-header{
            flex-direction: column-reverse;
            align-items: center;

            h3{
                font-size: 12px;
            }

            .kasa-text{
                width: 80%;
                margin-left: 5%;
                text-align: center;
                align-items: center;
                h2{
                    margin-bottom: 20px;
                    font-size: 18px;
                }
            }

            #Montagekasa{
                margin-top: 25px;
                width: 80%;
            }

            .lienkasa-container{
                #lienkasa{
                    font-size: 14px;
                    width: 180px;
                    height: 25px;
                    border-radius: 10px;
                }
            }
            .tech-container{
                width: 30%;
                justify-content: space-around;

                img{
                    width: 24px;
                }

                #sasskasa img{
                    width: 24px;
                }
            }
            button{
                left: 83%;
                top: 8%;
                position: fixed;
            }
        }

        

        .modal-body{
            margin-top: 20px;

            h4{
                font-size: 14px;
            }
                
            img{
                width: 80%;
            }

        }
    }
}