.texte-presentation {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    position: relative;

    #competences {
        position: absolute;
        top: 80%;
    }
}