.navbar {
    display: flex;
    justify-content: space-between;
    width: 54%;
    height: 75px;
    align-items: center;

    a{ 
        text-decoration: none;
        color: #4b2700;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .navbar {
        width: 75%;
        height: 50px;
        margin-left: 5%;
    }
}

@media screen and (max-width: 767px) {
    .navbar {
        width: 75%;
        height: 50px;
        margin-left: 5%;
    }
}