.Img-moi {
    background-image: url("../../assets/img/Photorondepetite.png");
    width: 161px;
    height: 161px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .Img-moi{
        width: 120px;
        height: 120px;
        background-size: cover;
    }
}

@media screen and (max-width: 767px) {
    .Img-moi{
        width: 120px;
        height: 120px;
        background-size: cover;
    }
}